<mat-card class="comment-card mat-elevation-z2">
  <mat-card-title>
    LEAVE A REPLY
  </mat-card-title>
  <mat-card-subtitle>
    Your email address will not be published. Required fields are marked *
  </mat-card-subtitle>
  <mat-card-content>
    <form #commentForm="ngForm" (ngSubmit)="commentForm.form.valid && onCommentPost(commentForm)">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" name="commentedBy"
               required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" name="email" email required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Comment" name="content" [(ngModel)]="comments.content" #content="ngModel"
                  required></textarea>
      </mat-form-field>
      <mat-card-actions>
        <button type="
            submit" mat-raised-button color="primary">Post Comment</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let comment of commentList" class="comment-card mat-elevation-z2">
  <mat-card-title>
    <div class="comment-card-title">
      <div>
        Hoang Vo
      </div>
    </div>
  </mat-card-title>

  <mat-card-subtitle>20/11/2021</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="comment.status == 'reject'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>Your comment is blocked.</ng-template>
    <ng-template #elseBlock>
      <ng-container *ngIf="comment.status == 'approved';else moderating">{{comment.content}}</ng-container>
    </ng-template>

    <ng-template #moderating>Your comment is being moderated</ng-template>
  </mat-card-content>
</mat-card>
